@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

/* shared style */


.display-flex {
    display: flex;
}

.sky-blue {
    color: #01acfd;
}

.orange {
    color: #fea301;
}

.aqua-blue {
    color: #05d4df;
}

.blue-lotos {
    color: #5d58ef;
}


.bg-sky-blue {
    background-color: #3CD8E8;
}

.bg-blue-lotos {
    background-color: #5D58F0;
}

.bg-common-mad {
    background-color: #95B226;
}

.contact-btn {
    background-color: #fea301;
}

.img-size {
    width: 100%;
}

.image-radius {
    border-radius: 16px 16px 0px 0px;
}


/* navbar related styles */
.navbar {
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.brand {
    gap: 20px;
}

.brand img {
    width: 100%;
}

.b-title {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 15px;
    margin-bottom: 10px;
}

.nav-links {
    gap: 32px;
}

.nav-link {
    text-decoration: none;

}

.nav-item {
    list-style: none;
    font-weight: 600;
    font-size: 1.25rem;
}

.btn-primary {
    width: 210px;
    padding: 10px 60px 10px 60px;
    border-radius: 12px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1.25rem;

}

.marque-tag {
    display: block;
}

/* -----navbar for mobile vesion----- */
.nabvar-mobile {
    display: none;
}


/* \\\\\\banner section\\\\\\ */

.banner {
    max-width: 1160px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 11px;
    gap: 50px;
}

.banner-content {
    max-width: 640px;
    margin: 0 auto;
}

.banner-title {
    font-weight: 700;
    font-size: 3.5rem;
    margin-bottom: 24px;

}

.banner-description {
    font-weight: 400;
    font-size: 1.25rem;
}

.enroll-btn {
    font-weight: 500;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    /* padding: auto; */
    padding: 10px 47px;
    border-radius: 12px;
    border: none;

}

.view-all-btn {
    margin-top: 80px;
    margin-bottom: 60px;
    font-weight: 500;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    /* padding: auto; */
    padding: 10px 61px;
    border-radius: 12px;
    border: none;
}

.banner-img img {
    width: 100%;
}

/* standard curriculum section */

.standard-section {
    max-width: 1440px;
    background: url(../assets/bg.png);
    margin: 0 auto;
    background-size: contain;
}

.standard-card-container {
    text-align: center;
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.standard-card-container h1 {
    font-size: 2.87rem;
    margin-top: 5%;
    font-weight: 700;
}

.card-container {
    gap: 28px;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    /* background-image: url(../assets/bg.png); */
}

.card-kinder {
    width: 370px;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg,
            rgba(222, 245, 255, 1),
            rgba(255, 255, 255, 0) 40%),
        rgba(255, 255, 255);
}

.card-elementary {
    width: 370px;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg,
            rgba(255, 244, 220, 1),
            rgba(255, 255, 255, 0) 40%) rgba(255, 255, 255);
}

.card-middle-school {
    width: 370px;
    border: 0.94px solid rgb(222, 245, 255);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180deg,
            rgba(242, 232, 255, 1),
            rgba(255, 255, 255, 0) 40%),
        rgba(255, 255, 255);
}

.card-img {
    margin-top: 50px;
    margin-bottom: 20px;
}

.card-description {
    font-size: 0.9rem;
    margin-bottom: 33px;
    color: #808080;
}

.card-title {
    margin-bottom: 33px;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(32, 32, 32, 1);
}

.arrow-btn-group {
    margin-top: 70px;

}

.arrow-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FEA301;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border: none;

}

.arrow-button:hover {
    background-color: #b67b15;
}


.right-arrow {
    transform: rotate(180deg);
}


/* ........... story section ...... */



.stories-section {
    background: url(../assets/bg.png),
        linear-gradient(0deg,
            rgba(254, 163, 1, 0.3),
            rgba(255, 255, 255, 0.3) 100%);
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 80px;
}

.stories-container {
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
}

.story-title {
    font-size: 2.85rem;
    font-weight: 700;
}

.story-cards-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    /* grid-template-rows: repeat(6, 1fr); */
    gap: 20px;
    margin-top: 80px;
}

#box-1 {
    /* grid-row: span 2; */
    /* grid-column: span 8; */
}

.story-large-card {
    border-radius: 0px 0px 16px 16px;
    background-color: rgb(255, 255, 255);
    grid-row: span 2;
    grid-column: span 8;
}

.card-description-lange {
    margin-top: -25px;
    text-align: left;
    padding-left: 38px;
    padding-bottom: 24px;
}

.card-description-lange h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 38.35px;
}

.story-btn-shared {
    font-weight: 400;
    font-size: 1rem;
    color: #FFFFFF;
    border-radius: 47px;
    border: none;
    padding: 10px 18px 10px 18px;
}


.story-btn-big {
    position: relative;
    font-weight: 500;
    font-size: 1rem;
    color: #FFFFFF;
    border-radius: 47px;
    border: none;
    padding: 15px 18px;
}

.btn-kids-listening {
    width: 127px;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 1rem;
    border-radius: 47px;
    border: none;
}

.story-small-card {
    grid-column: span 4;
    grid-row: span 1;
    border-radius: 16px;
    background-color: rgb(255, 255, 255);

}

.small-card-container {
    margin-top: -25px;

}


.small-card-title {
    padding-left: 50px;
    align-items: center;
    text-align: left;
    font-weight: 700;
    line-height: 28px;
    font-size: 1rem;
}

/* ............ footer section....... */

.footer {
    max-width: 1440px;
    margin: 0 auto;
    background-color: rgba(1, 172, 253, 1);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1070px;
    margin: 0 auto;
    padding-top: 110px;
    padding-bottom: 100px;
    /* background-color: rgba(1, 172, 253, 1); */
}

.logo-brand-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    width: auto;
    gap: 10px;
    margin-bottom: 35px;
}

.logo-brand-container h1 {
    color: #FFFFFF;
    margin: 0px;
}

.footer-logo p {
    margin-left: 10px;
    color: #FFFFFF;
}

.about-school-container {
    display: flex;
    flex-direction: column;
}

.about-school-container h3 {
    font-size: 1.5rem;
    color: #FFFFFF;
}

.about-school-container ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    color: #FFFFFF;

}

.about-school-container ul li {
    padding-bottom: 15px;
}

.icon-container {
    display: flex;
    gap: 20px;
}

.social-media-icon h3 {
    font-size: 1.5rem;
    color: #FFFFFF;
}




/* -------------media query------------ */

@media screen and (max-width: 576px) {

    /* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap'); */

    /* .raleway-font { */
        /* font-family: "Raleway", serif; */
        /* font-optical-sizing: auto; */
        /* font-weight: normal; */
        /* font-style: normal; */
    /* } */


    .brand,
    .nav-links,
    .btn-container {
        display: none;
    }

    .nabvar-mobile {
        border-bottom: 1px solid orange;
        width: 100%;
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu-button>div {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }

    .marque-tag {
        /* display: contents; */
    }

    /* banner section */

    .banner {
        flex-direction: column-reverse;
        text-align: center;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-description {
        font-size: 1rem;
    }

    .banner-img {
        margin-bottom: -60px;
    }

    .enroll-btn {
        /* width: 131px; */
        font-weight: 1.25rem;
        padding: 10px 24px;
        border-radius: 8px;
        font-weight: 500;
    }

    /* .. standard curriculum section/// */
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .standard-section h1 {
        margin-top: 40px;
        margin-bottom: -50px;
        font-size: 2.8rem;
    }

    .arrow-btn-group {
        display: none;
    }

    /* s?tory section */
    .stories-container {
        margin: 0px;
        padding: 0px;
    }

    .story-title {
        font-size: 1.6rem;
        font-weight: 600;
        margin-top: -40px;
    }

    .story-large-card {
        display: none;
    }

    .story-cards-container {
        grid-template-columns: repeat(6, 1fr);
        margin: 0 10px;
    }

    .story-small-card {
        grid-column: span 3;
    }

    .small-card-title {
        font-size: 0.6rem;
        font-weight: 700;
        margin-left: 0%;
        padding-left: 0px;
        text-align: center;
    }

    .story-btn-shared {
        /* font-family: "Raleway", serif; */
        font-size: 0.5rem;
        padding: 5px 10px;
        font-weight: 400;
        margin-left: -30px;
    }

    .view-all-btn {
        font-weight: 500;
        font-size: 0.8rem;
        padding: 5px 35px;
        border-radius: 12px;
        margin-top: 25px;
        margin-bottom: 40px;
        border-radius: 8px;
    }


    /* ......footer section..... */

    .footer-container {
        flex-direction: column;
        padding-left: 21px;
        align-items: left;
        padding-top: 65px;
        padding-bottom: 60px;
    }

    .footer-logo {
        margin-left: -10px;
    }

    .logo-brand-container h1 {
        font-size: 2rem;
    }
}